<div class="vertical-spacing" ng-if="model.selectedDataSet && model.selectedPeriod && model.categoryOptionsReady">

    <div ng-if="model.allowMultiOrgUnitEntry && model.selectedDataSet.entryMode === 'Multiple Entry'">

        <div class="add-default-right-padding">
            <div class="col-sm-12 selectionArea" ng-if="model.selectedProgram">
                <span class="bold">{{'role_info_1'| translate}}</span>
                <i class="fa fa-question-circle superscript" tooltip="{{'stakeholder_description'| translate}}" tooltip-class="custom-tooltip-class"></i>
                <span class="bold">{{'role_info_2'| translate}}</span>
                <table class="table table-bordered table-condensed small-vertical-spacing table-bordered-selection-area">
                    <thead>
                        <tr>
                            <td ng-repeat="prStDe in model.selectedProgram.programStages[0].programStageDataElements | orderBy: 'sortOrder'">
                                <i class="fa fa-question-circle superscript" tooltip="{{de.description}}" tooltip-class="custom-tooltip-class"></i>
                                {{prStDe.dataElement.displayName}}
                            </td>
                        </tr>
                    </thead>                            
                    <tr>
                        <td ng-repeat="prStDe in model.selectedProgram.programStages[0].programStageDataElements | orderBy: 'sortOrder'" ng-init="optionId = prStDe.dataElement.code === 'Responsible Ministry' ? prStDe.dataElement.code : 'Funder'">                            
                            <ui-select multiple 
                                       ng-model="model.stakeholderRoles[prStDe.dataElement.id]" 
                                       on-select="saveRole(prStDe.dataElement.id)"
                                       on-remove="saveRole(prStDe.dataElement.id)"
                                       theme="bootstrap">
                                <ui-select-match placeholder="{{'select_or_search'| translate}}">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="item in model.optionSets[optionId].options | filter: $select.search | limitTo:maxOptionSize">
                                    <div ng-bind-html="item | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                </table>
            </div>
            <!--<div class="col-sm-12 selectionArea" ng-if="model.roleDataElements.length > 0">
                <span class="bold">{{'role_info_1'| translate}}</span>
                <i class="fa fa-question-circle superscript" tooltip="{{'stakeholder_description'| translate}}" tooltip-class="custom-tooltip-class"></i>
                <span class="bold">{{'role_info_2'| translate}}</span>
                <table class="table table-bordered table-condensed small-vertical-spacing table-bordered-selection-area">
                    <thead>
                        <tr>
                            <td ng-repeat="de in model.roleDataElements | orderBy: 'displayName'">
                                <i class="fa fa-question-circle superscript" tooltip="{{de.description}}" tooltip-class="custom-tooltip-class"></i>
                                {{de.displayName}}
                            </td>
                        </tr>
                    </thead>                            
                    <tr>
                        <td ng-repeat="de in model.roleDataElements | orderBy: 'displayName'" ng-init="optionId = de.code === 'Responsible Ministry' ? de.code : 'Funder'">                            
                            <ui-select multiple 
                                       ng-model="model.stakeholderRoles[de.id]" 
                                       on-select="saveRole(de.id)"
                                       on-remove="saveRole(de.id)"
                                       theme="bootstrap">
                                <ui-select-match placeholder="{{'select_or_search'| translate}}">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="item in model.optionSets[optionId].options | filter: $select.search | limitTo:maxOptionSize">
                                    <div ng-bind-html="item | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                </table>
            </div>-->
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <div ng-repeat="dataElement in model.selectedDataSet.dataElements" ng-if="dataElement.code !== 'Catalyst' && dataElement.code !== 'Funder' && dataElement.code !== 'Responsible Ministry'">
                    <table class="table table-bordered table-condensed vertical-spacing">
                        <tr>
                            <th class="active pull-center" colspan="{{model.selectedCategoryCombos[dataElement.categoryCombo.id].categoryOptionCombos.length + 1}}">
                                {{dataElement.displayName}}
                            </th>
                        </tr>
                        <tr>
                            <th class="active">
                                {{'org_unit'| translate}}
                            </th>
                            <th class="active pull-center" ng-repeat="oco in model.selectedCategoryCombos[dataElement.categoryCombo.id].categoryOptionCombos">
                                {{oco.displayName}}
                            </th>
                        </tr>
                        <tr ng-repeat="ou in selectedOrgUnit.c" ng-if="model.selectedDataSet.organisationUnits[ou]">
                            <td>
                                {{model.selectedDataSet.organisationUnits[ou]}}
                            </td>
                            <td ng-repeat="oco in model.selectedCategoryCombos[dataElement.categoryCombo.id].categoryOptionCombos">
                                <input type="text" 
                                       class="form-control pull-center" 
                                       ng-model="model.dataValues[ou][dataElement.id][oco.id].value"
                                       d2-blur="saveDataValue(ou, dataElement.id, oco.id)">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-if="!model.allowMultiOrgUnitEntry || model.selectedDataSet.entryMode === 'Single Entry'">
        <div class="col-sm-6 ">
            <table class="table table-bordered table-condensed"> 
                <tbody>
                    <tr ng-repeat="dataElement in model.selectedDataSet.dataElements">
                        <td>
                            {{dataElement.displayName}}
                        </td>
                        <td ng-repeat="categoryOption in dataElement.categoryCombo.categories[0].categoryOptions">
                            <input type="text">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>