<div class="modal-header page">
    <h2>{{'stakeholder_role_for'| translate}} {{currentOrgUnitName}}</h2>
</div>
<div class="modal-body">

    <div class="col-sm-12 selectionArea vertical-spacing" ng-if="program" ng-repeat="oco in optionCombos">
        <div class="alert alert-info">{{oco.displayName}}</div>
        <span class="bold">{{'role_info_1'| translate}}</span>
        <i class="fa fa-question-circle superscript" tooltip="{{'stakeholder_description'| translate}}" tooltip-class="custom-tooltip-class"></i>
        <span class="bold">{{'role_info_2'| translate}}</span>
        <table class="table table-bordered table-condensed small-vertical-spacing table-bordered-selection-area">
            <thead>
                <tr>
                    <td ng-repeat="prStDe in program.programStages[0].programStageDataElements| orderBy: 'sortOrder'">
                        <i class="fa fa-question-circle superscript" tooltip="{{prStDe.dataElement.description}}" tooltip-class="custom-tooltip-class"></i>
                        {{prStDe.dataElement.displayName}}
                    </td>
                </tr>
            </thead>                            
            <tr>
                <td ng-repeat="prStDe in program.programStages[0].programStageDataElements| orderBy: 'sortOrder'" ng-init="optionId = prStDe.dataElement.code === 'Responsible Ministry' ? prStDe.dataElement.code : 'Funder'">
                    <ui-select multiple 
                               ng-model="stakeholderRoles[oco.id][prStDe.dataElement.id]" 
                               on-select="saveRole(oco.id, prStDe.dataElement.id)"
                               on-remove="saveRole(oco.id, prStDe.dataElement.id)"
                               theme="bootstrap">
                        <ui-select-match placeholder="{{'select_or_search'| translate}}">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="item in optionSets[optionId].options | filter: $select.search | limitTo:maxOptionSize">
                            <div ng-bind-html="item | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
        </table>
    </div>
    
</div>
<div class="modal-footer">        
    <button class="btn btn-primary trim" ng-disabled="stakeholderAddStarted" ng-click="close()">{{'save'| translate}}</button>
    <button class="btn btn-default" ng-disabled="stakeholderAddStarted" ng-click="close()">{{'cancel'| translate}}</button>    
</div>